{{- $defaultConfig := .Servers.default -}}
{{- $effectiveConfig := "{}" | json -}}

{{- /* Merge default server config into other configs */ -}}
{{- range $key, $server := .Servers -}}
  {{- $effectiveConfig = (merge (dict $key (merge $server (dict "is_default" (eq $key "default")) $defaultConfig)) $effectiveConfig ) -}}
{{- end -}}

{{- /* Write custom index.html, spa_config.js and nginx config files for each configured server */ -}}
{{- range $key, $server := $effectiveConfig -}}
  {{- $spa_config_hash := tmpl.Exec "write-spa_config" $server -}}
  {{- $new_index := tmpl.Exec "write-index" (dict "path" "index.html" "base_href" $server.base_href "spa_config_hash" $spa_config_hash ) -}}
  {{- template "write-nginx-server-conf" (dict "name" $key "config" (merge (dict "index" $new_index "spa_config_hash" $spa_config_hash) $server)) -}}
{{ end -}}
